<!-- {pageTitle: "About Us"} -->
<div class="about_us">
    <!--headTitle={"title":"About Us | Bloomingdale's"}-->
    <!--headCanonical={"href":"/about-us/directory/"}-->
    <!--headMeta={"name":"description", "content":"Bloomingdale's - Like No Other Store in The World."}-->    
    {{>title}}
    <div id="bl_main_wrapper" class='newLayout'>
        <div class="bl_main">
            <div id="bl_hp_main" class="row">
                <div class="large-6 columns bl_nav_side">
                    <div class="gn_left_nav_container">
                        <div id="bl_leftNavContainer">
                            {{>leftnav}}
                        </div>
                    </div>
                </div>
                <div class="small-24 large-18 columns bl_cu_mainContent" id="directory-main-content">
                    {{>titleimage}}
                    <br>
                    <div class="bl_cs_banner" id="crBanner">
                        <map name="banner-map">
                            <area id="banner" />
                        </map>
                        <img id="banner-img" usemap="#banner-map" />
                    </div>
                    
                    <div class="row">
                        <!--Store Locations-->
                        <div class="small-24 medium-8 large-8 columns">
                            <a href="http://locations.bloomingdales.com/store-locator">
                                <img src="{{assetsHost}}/img/titles/title_sd-xx-xx-xx.gif" 
                                    width="105" 
                                    height="18" 
                                    alt="Store Locations" 
                                    border="0" />
                            </a>
                            <p>
                                Find the location and phone number of the Bloomingdale's store nearest you.
                            </p>
                        </div>
                        <!--Events-->
                        <div class="small-24 medium-8 large-8 columns">
                            <a href="http://locations.bloomingdales.com/store-locator">
                                <img src="{{assetsHost}}/img/about/title_events.gif" 
                                        width="47" 
                                        height="18" 
                                        alt="Events" 
                                        border="0" />
                            </a>
                            <p>
                                Join us for all the excitement and theater that is Bloomingdale's. 
                                Get an insider's view of everything happening in our stores, to make your visit an entertaining one.
                            </p>
                        </div>
                        <!-- Shopping Services -->
                        <div class="small-24 medium-8 large-8 columns">
                            <a href="/about-us/shopping/shopping-services/">
                                <img src="{{assetsHost}}/img/about/title_shoppingServices.gif"
                                        width="121" 
                                        height="18" 
                                        alt="Shopping Services" 
                                        border="0" />
                            </a>
                            <p>
                                Bloomingdale's offers a full range of services to meet your needs, including Size Charts, 
                                Check Gift Card Balance, Personal Shoppers, Studio Services, Visitor Services and many more.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <!-- b.Cause -->
                        <div class="small-24 medium-8 large-8 columns">
                            <a href="/about-us/philanthropy/">
                                <img src="{{assetsHost}}/img/about/title_bcause.gif" 
                                        width="53" 
                                        height="19" 
                                        alt="b.Cause" 
                                        border="0" />
                            </a>
                            <p>
                                Our b.cause philanthropy program gives us opportunities to make positive changes where we live. 
                                Thousands of our people volunteer, increase awareness and raise funds for causes we partner with.
                            </p>
                        </div>
                        <!-- Bloomindale's Apps -->
                        <div class="small-24 medium-8 large-8 columns">
                            <a href="/about-us/mobile-shopping-online/">
                                <img src="{{assetsHost}}/img/about/title_apps.jpg"
                                        alt="Bloomingdales Apps" 
                                        border="0" 
                                        class="displayBlock" />
                            </a>
                            <p>
                                Put Bloomingdale's in the palm of your hand with 3 great apps for the iPHONE&reg;, Android&trade; and iPAD&reg;.
                            </p>
                        </div>
                        <!-- New Stores -->
                        <div class="small-24 medium-8 large-8 columns">
                            <a href="/about-us/new-store-openings/">
                                <img src="{{assetsHost}}/img/about/title_newStores.gif" 
                                        width="74" 
                                        height="18" 
                                        alt="New Stores" 
                                        border="0" />
                            </a>
                            <p>
                                Find out about the latest store opening and see why Bloomingdale's is like no other store in the world.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Our History -->
                        <div class="small-24 medium-8 large-8 columns">
                            <a href="/media/about/history/">
                                <img src="{{assetsHost}}/img/about/title_ourHistory.gif" 
                                        width="74" 
                                        height="18" 
                                        alt="Our History" 
                                        border="0" />
                            </a>
                            <p>
                                Explore the history of Bloomingdale's. Take a look back and see how we made history.
                            </p>
                        </div>
                        <!-- Press Release -->
                        <div class="small-24 medium-8 large-8 columns">
                            <a href="http://www1.bloomingdales.com/about/company/press/index.ognc">
                                <img src="{{assetsHost}}/img/about/title_pressReleases.gif"
                                        width="96" 
                                        height="18" 
                                        alt="Press Releases" 
                                        border="0" />
                            </a>
                            <p>
                                Read the latest news about Bloomingdale's.
                            </p>
                        </div>
                        <!-- Careers -->
                        <div class="small-24 medium-8 large-8 columns">
                            <a href="javascript:pop('http://www.bloomingdalesjobs.com','Careers','directories,location,menubar,resizable,scrollbars,status,toolbar')">
                                <img src="{{assetsHost}}/img/about/title_careers.gif" 
                                        width="48" 
                                        height="18" 
                                        alt="Careers" 
                                        border="0" />
                            </a>
                            <p>
                                Find an opportunity for you to build a career in a field with virtually unlimited potential, 
                                and with the sophistication and resources to support your initiative.
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/b/fashion/javascripts/projects/about-us/getBanner.js"></script>