html
	head
		title Bloomingdales.com
		link(rel='stylesheet', href='/styles/main.css')
		link(rel='stylesheet', href='/styles/custom_fonts.css')
		//- link(rel='stylesheet', href='/styles/normalize.css')
		//- link(rel='stylesheet', href='/styles/style.css')
		link(rel='stylesheet', href='/styles/lookbooks/timeline/timeline.css')
	body
		article#main-article
			header
				img(src="/images/timeline/Bloomingdales_logo_small_white.svg.png")
				span :&nbsp;&nbsp;a history
			section#slide-1.homeSlide(style="height:1000px;")
				.bcg(	data-center="background-position: 50% 0px;"
       					data-top-bottom="background-position: 50% -100px;"
        				data-anchor-target="#slide-1")
					.hsContainer
						.hsContent(	data-center="opacity: 1.5"
                					data-20-top="opacity: 0"
                					data-anchor-target="#slide-1 h2")
							h2 Everyone knows that <em>Bloomingdale's</em> is like no other store in the world, but not everyone knows when, and where, it all began. Bloomingdale's has a long and storied history of being on the cutting edge of fashion, technology and the way the modern customer shops. 
							.scroll scroll
			section#slide-2
				.bcg(	data-0="background-color:rgb(25,25,25);"
						data-top="background-color:(0,0,0);"
						data-anchor-target="#slide-2")
					.hsContainer
						.hsContent(	data--200-bottom="opacity: 0"
				                    data-center="opacity: 1"
				                    data-206-top="opacity: 1"
				                    data-106-top="opacity: 0"
				                    data-anchor-target="#slide-2 h2")
							h2 In the beginning... Okay, not quite. How about New York City, <em>1861</em> ?
			section#slide-3.homeSlide
				.bcg(	data-center="background-position: 50% -200px;"
				        data-bottom-top="background-position: 50% -200px;"
				        data-top-bottom="background-position: 50% -200px;"
				        data-anchor-target="#slide-3"
				        style="height:1200px; width: 100vw;")
					.curtainContainer
							.curtain(	data-bottom-top="opacity: 0"
						                data-106-top="height: 1%; top: -10%; opacity: 0;"
						                data-center="height: 100%; top: 0%; opacity: 0.5"
						                data-anchor-target="#slide-3"
						                style="width: 100vw;")
							.copy(	data-bottom-top="opacity: 0"
					                data--100-bottom="opacity: 0"
					                data--280-bottom="opacity: 1;"
					                data-280-top="opacity: 1;"
					                data-top="opacity: 0;"
					                data-anchor-target="#slide-3 .copy"
					                style="width: 100vw;")
								h2 Bloomingdale's all began when brothers Joseph and Lyman G. Bloomingdale started selling hoop-skirts in their Ladies Notions' Shop on Manhattan's Lower East Side.<br/> In <em>1872</em>, the Bloomingdale brothers opened their first store at<br/>938 Third Avenue, New York City.
			section#slide-4.homeSlide
				.bcg(	data-bottom="background-position: 0 -80px;"
						data-top-bottom="background-position: 0 -140px;"
						style="height:1200px;")
					.hsContainer
						.hsContent(	
									data-anchor-target="#slide-4 h2")
							h2 <em class="big">1880</em><br/>Bloomingdale's welcomes window shopping!<br/>We're the first store to install glass carriages.
			section#slide-5.homeSlide
				.bcg(	data-bottom-top="opacity: 1;"
						data--60p-bottom="opacity:1;"
						data-top-bottom="opacity: 0.2"
						data-anchor-target="#slide-5 h2"
						style="height:1200px;")
					.hsContainer
						.hsContent
							h2(	data-bottom="opacity: 0; font-size: 24px; left: 0px; position: relative;"
								data--80-bottom="opacity: 1;"
				                data-280-top="opacity: 1;"
				                data-top="font-size: 8px; left: -200px; position: relative;"
								data-anchor-target="#slide-5 h2") Up, up, and away!<br/>In <em>1886</em>&nbsp;&nbsp;Bloomingdale's commissions <br/>the world's first escalator.
			section#slide-6.homeSlide
				.snow(	style="height:1200px;")
				.bcg(	style="height:1200px;")
					.hsContainer
						.hsContent
							h2(	data-bottom-top="opacity: 0; font-size: 24px"
								data--80-bottom="opacity: 1;"
				                data-280-top="opacity: 1;"
				                data-top="opacity: 0"
								data-anchor-target="#slide-6 h2") Bonjour, Paris!(And Berlin... and Vienna...).<br/>In <em>1899</em>&nbsp;&nbsp;Bloomingdale's opens buying offices in Europe to bring the latest trends from across the pond.
			section#slide-7.homeSlide
				.pin(	data-bottom="opacity: 0"
						data-33p-top="opacity:1"
						data-anchor-target="#slide-7 h2")
				.bcg(style="height:1200px;")
					.hsContainer
						.hsContent
							h2 <em class="big">1913</em><br/>Next stop: Bloomie's! The <em>Bloomingdale's</em> &nbsp;Flagship store becomes a hub (with a brand-new subway stop in the basement).
			section#subway-train.homeSlide
				.tunnel(style="height:100px;")
				.train(	data-bottom="left:-4200px;"
						data-top="left:3200px;"
						data-anchor-target="#subway-train")
			section#slide-8.homeSlide
				.bcg(	data-bottom="opacity:0.2;"
						data--20p-bottom="opacity:1;"
						data-20p-top="opacity:1;"
						data-top-bottom="opacity: 0.2"
						data-anchor-target="#slide-8 h2"
						style="height:1200px;")
					.hsContainer
						.hsContent
							h2 <em class="big">1929</em><br/>Oh so Art Deco... A new facade makes a big impression.
			section#slide-10.homeSlide
				.bcg(	style="height:1200px;")
					.hsContainer
						.hsContent
							h2(	data-bottom="left:-2500px;"
								data--20p-bottom="left:0px;"
								data-20p-top="left:0;"
								data-top-bottom="left:2500px;"
								data-anchor-target="#slide-10 h2") It's <em>1973</em> . Pink Floyd releases "Dark Side of the Moon", "The Exorcist" is in theaters, and the iconic Big Brown Bag makes its debut in our stores and on the streets.
			section#slide-11.homeSlide
				//- .bcg(	style="height:1200px;")
					.hsContainer
						.hsContent
				.bcg(	data-center="background-position: 50% -200px;"
				        data-bottom-top="background-position: 50% -200px;"
				        data-top-bottom="background-position: 50% -200px;"
				        data-anchor-target="#slide-11"
				        style="height:1200px; width: 100vw;")
					.curtainContainer
							.curtain(	data-bottom-top="opacity: 0"
						                data-106-top="height: 1%; top: -10%; opacity: 0;"
						                data-center="height: 100%; top: 0%; opacity: 0.5"
						                data-anchor-target="#slide-11"
						                style="width: 100vw;")
							.copy(	data-bottom-top="opacity: 0"
					                data--100-bottom="opacity: 0"
					                data--280-bottom="opacity: 1;"
					                data-280-top="opacity: 1;"
					                data-top="opacity: 0;"
					                data-anchor-target="#slide-11 .copy"
					                style="width: 100vw;")
								h2 By the 70's, everyone was stopping by 59th Street and Lexington Avenue for a look - including Queen Elizabeth in <em>1976</em> .<br/>People came to see and to be seen.
			section#slide-12.homeSlide
				.bcg(	data-center="background-position: 50% 0px;"
       					data-top-bottom="background-position: 50% -350px;"
        				data-anchor-target="#slide-12"
        				style="height:1200px;")
					.hsContainer
						.hsContent
							h2 <em class="big">1970s</em><br/>The B-way becomes an instant Bloomingdale's signature when our new cosmetics floor launched with black Belgian and white Carrara checkerboard marble floors.
			section#slide-13.homeSlide
				.bcg(	data-center="background-position: 50% -60px;"
       					data-top-bottom="background-position: 50% 0px;"
        				data-anchor-target="#slide-13"
        				style="height:1200px;")
					.hsContainer
						.hsContent
							h2 In <em>1982</em> acclaimed illustrator Antonio gives glamour an edge with his campaign for Bloomingdale's. The ad becomes artwork in its own right.
		section#slide-14.homeSlide
				.bcg(	data-center="background-position: 50% -60px;"
       					data-top-bottom="background-position: 50% 0px;"
        				data-anchor-target="#slide-13"
        				style="height:800px;")
					.hsContainer
						.hsContent
							h2 <em class="big">2006</em><br/>Bloomingdales.com wows the web, making it easy to surf and shop amazing fashion from anywhere.
							img(src="/images/timeline/the-b.png" style="width:150px; height: 150px;")
		include ../../../includes/parallax
		